{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    {% if user.is_authenticated %}
    <div class="row p-3 bg-white justify-content-center">
        <div class="col-12 col-md-8 col-lg-8 text-center align-self-center border rounded">
            <h4 class="my-3">New Post</h4>
            <textarea class="form-control mb-3"     rows="3" id="post_content"></textarea>
            <button type="submit" class="btn btn-primary mb-3 float-end" id="create_post">Post</button>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col">
            
        </div>
    </div>
{% endblock %}

{% block script %}
    {% if user.is_authenticated %}
        <script src="{% static 'network/createpost.js' %}"></script>
    {% endif %}
{% endblock %}