{% extends "network/layout.html" %}
{% load humanize %}

{% block body %}
    <div class="col-10 col-md-8 col-lg-6">

        {% if user.is_authenticated %}
        <div class="row py-3 justify-content-center border rounded mt-4 mb-3">

            <div class="col-12 text-center">
                <h5 class="text-muted fw-normal mb-3">New post</h5>
            </div>
            <form action="{% url 'createpost' %}" method="post">

                {% csrf_token %}
                
                {% for field in createpost %}
                <div class="col-12 mb-2">
                    {{field}}
                </div>
                {% endfor %}
                <div class="col-12 text-end mb-2">
                    <input class="btn btn-primary" type="submit" value="Post">
                </div>  
            </form>

        </div>
        {% endif %}

        {% for post in page %}
 
        <div class="row" id="home_view">
            <div class="col-12 border rounded p-3 pb-2 my-1">
                <div class="row mb-2">
                    <div class="col-auto small text-muted"><a href="{% url 'user' post.author %}" class="text-decoration-none">{{post.author}}</a></div>
                    <div class="col-auto small text-muted">{{post.timestamp|naturaltime}}</div>
                </div>
    
                <div class="row mb-2">
                    <div class="col-12">{{post.post}}</div>
                </div>
    
                <div class="row">
                    <div class="col-auto small text-muted"><i class="bi bi-heart style="font-size: 2rem; color: cornflowerblue;"></i>  0</div>
                </div>
            </div>
        </div>

        {% endfor %}
        

        <div class="row my-3">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                        <li class="page-item {% if not page.has_previous %}disabled{% endif %}"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                    
                        {% for page_number in page.paginator.page_range %}
                            {% if page.number|add:3 > page_number and page_number > page.number|add:-3 %}
                                <li class="page-item {% if page.number == page_number %}active{% endif %}"><a class="page-link" href="#">{{page_number}}</a></li>
                            {% endif %}
                        {% endfor %}
                    
                    <li class="page-item {% if not page.has_next %}disabled{% endif %}"><a class="page-link"  href="?page={{ page_obj.next_page_number }}">Next</a></li>
                </ul>
            </nav>
        </div>



    </div>

{% endblock %}